<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHeader('服装推荐')">
</head>
<body>
<!-- header -->
<div th:include="common::commonNav"></div>
<!-- //header -->

<!-- banner 登陆后-->
<div class="banner-top" style="margin-top:5em;">
    <div class="container">

        <h3 class="animated wow fadeInRight" data-wow-delay=".5s">
            <span th:text="${user?.name}"></span>,您好！<label>/</label>
            <a href="/manager/home">退出</a></h3>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner -->


<!--content-->
<div class="product">
    <div class="container">
        <!--col-md-3左侧导航-->
        <div class="col-md-3 product-bottom">
            <!--categories-->
            <div class="categories animated wow fadeInUp animated" data-wow-delay=".5s">
                <h3>分类</h3>
                <ul class="cate">
                    <li><i class="glyphicon glyphicon-menu-right"></i><a href="/manager/clothesRecommend/1">上衣</a> <span>(5)</span></li>
                    <li><i class="glyphicon glyphicon-menu-right"></i><a href="/manager/clothesRecommend/2">外套</a> <span>(5)</span></li>

                    <li><i class="glyphicon glyphicon-menu-right"></i><a href="/manager/clothesRecommend/4">裤装</a> <span>(5)</span></li>
                    <li><i class="glyphicon glyphicon-menu-right"></i><a href="/manager/clothesRecommend/3">裙装</a> <span>(5)</span></li>

                </ul>
            </div>
            <!--//menu-->

            <!--colors-->
            <div class="colors animated wow fadeInLeft animated" data-wow-delay=".5s">
                <h3>Colors</h3>

                <div class="color-top">
                    <ul>
                        <li><a href="#"><i></i></a></li>
                        <li><a href="#"><i class="color1"></i></a></li>
                        <li><a href="#"><i class="color2"></i></a></li>
                        <li><a href="#"><i class="color3"></i></a></li>
                        <li><a href="#"><i class="color4"></i></a></li>
                        <li><a href="#"><i class="color5"></i></a></li>
                        <li><a href="#"><i class="color6"></i></a></li>
                        <li><a href="#"><i class="color7"></i></a></li>
                    </ul>
                </div>
            </div>


            <!--//colors-->

        </div>
        <!--//col-md-3左侧导航-->

        <!--右侧商品列表 -->
        <div id="jacketDiv" style="">
        <div class="col-md-9 animated wow fadeInRight" data-wow-delay=".5s" th:each="data : ${clothesList}">
            <div class="mid-popular" th:if="${data.categoryType} eq ${type}">
                <div class="col-sm-4 item-grid item-gr  simpleCart_shelfItem"
                     th:each="clothes : ${data.clothesInfoVoList}">
                    <div class="grid-pro">
                        <div class=" grid-product ">
                            <figure>
                                <a th:href="@{'/manager/collocation/'+${clothes.clothesId}}">
                                    <div class="grid-img">
                                        <img th:src="${clothes.url}" class="img-responsive" alt="">
                                    </div>
                                    <!--<div class="grid-img">-->
                                    <!--<img  src="/images/T1.jpg" class="img-responsive"  alt="">-->
                                    <!--</div>			-->
                                </a>
                            </figure>
                        </div>
                        <div class="women">
                            <a href="#"><span class="glyphicon glyphicon-heart"></span></a>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        </div>
        <!--右侧商品列表-->




        <div class="clearfix"></div>

        <div class="fix-footer"></div>

    </div>
</div>
<!--//products-->

<script type="text/javascript">
    function showJacket(){
        console.log("showJacket:");
        $("#jacketDiv").attr("style","");
        $("#coatDiv").attr("style","display:none;");
        $("#trousersDiv").attr("style","display:none;");
        $("#dressDiv").attr("style","display:none;");
    }

    function showCoat(){
        console.log("showCoat:");
        $("#jacketDiv").attr("style","display:none;");
        $("#coatDiv").attr("style","");
        $("#trousersDiv").attr("style","display:none;");
        $("#dressDiv").attr("style","display:none;");
    }

    function showTrousers(){
        console.log("showTrousers:");
        $("#jacketDiv").attr("style","display:none;");
        $("#coatDiv").attr("style","display:none;");
        $("#trousersDiv").attr("style","");
        $("#dressDiv").attr("style","display:none;");
    }

    function showDress(){
        console.log("showDress:");
        $("#jacketDiv").attr("style","display:none");
        $("#coatDiv").attr("style","display:none");
        $("#trousersDiv").attr("style","display:none");
        $("#dressDiv").attr("style","");
    }

</script>


<!-- footer -->
<div th:include="common::commonFooter"></div>
<!-- //footer -->

</body>
</html>



